/* Media Queries */

/* 
    Common Units of Measurement:
        - Percentages - %
        - Viewport Width - vw
        - Viewport Height - vh
        - Root Element font size - rem
        - Parent element font size - em
    
    Using Media Queries
        
        ex:
            @media screen { (target screens only)
                
                div { (element to adjust)

                    background-color: blue;
                }
            }

        AND @media screen and (min-width: 750px) {

            ***element here***

        }

        OR @media screen, (min-width: 750px) {

            ***element here***



        Build with mobile first concept
*/

/* @media (max-width: 480px) {
    body {
        background-color: darkred;
    }
} */

@media screen and (max-width: 740px) and (orientation: landscape) {
    nav ul li{
        font-size: 2em;
    }

    footer {
        padding-bottom: 2em;
    }
    footer ul li{
        font-size: 2em;
    }
}

@media screen and (max-width: 375px) {
    #brand {
        justify-content: center;
    }
    
    nav ul li{
        display: none;
    }

    
}